body{
    background-color: #331F16 !important;
    overflow-x: hidden;
} 

.row .log{
    justify-content: center;
    align-items: center;
    width: 36%;
    height: 65%;
    box-shadow: 0 10px 50px #130601;
    border: 1px solid #BC892D;
    border-radius: 15px;
    padding: 2%;
    margin: 10% auto;
    background-color: rgba(255,255,255, 0.1);
}
.log h2{
    font-family: mv boli;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F5DF6B;
    margin: 18px;
    font-size: 40px;
}
.log input{
    width: 100%;
    padding: 12px;
    border-radius: 40px;
    border-color: #BC892D;
    color: #F5DF6B;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
.log input::placeholder{
    color: #F5DF6B;
}
.log .fp{
    color: #F5DF6B;
    text-decoration: none;
    padding: 2%;
    /* margin-left: 250px; */
}
.log .fp:hover{
    background: -webkit-linear-gradient(#f09dcc,#f3cee3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.log button{
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 1px 3px #130601;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #BC892D;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.log button:hover{
    background-image: linear-gradient(to right, #ffe53b,#ff2525) ;
    color: white;
}

.log .endline p{
    text-align: center;
    justify-content: center;
    color: whitesmoke;
}
.log .endline .reg{
    color: #ffeb6c;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.log .endline .reg:hover{
    background: -webkit-linear-gradient(#f09dcc,#f3cee3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #C71C7D,#920568,#370127 */